# Binary/output files
bin/
obj/
*.qmod

# Windows installer output/extracted files
installer/inno/
installer/windows-installer.exe

# MacOS DMG output files
.DS_Store
macos-dmg/dmg-root/QuestPatcher.app/Contents/MacOS
macos-dmg/QuestPatcher.dmg

# IDE Directories
.vs/
.idea/

# Bug fixing info/crash reports kept locally
diagnosis/