# Binary/output files
bin/
obj/
*.qmod

# Windows installer output/extracted files
installer/inno/
installer/windows-installer.exe

# MacOS DMG output files
.DS_Store
macos-dmg/dmg-root/Quatcher.app/Contents/MacOS
macos-dmg/Quatcher.dmg

# IDE Directories
.vs/
.idea/